sql {
    driver = "rlm_sql_mysql"
    dialect = "mysql"

    server = "DB_HOST_PLACEHOLDER"
    port = DB_PORT_PLACEHOLDER
    login = "DB_USER_PLACEHOLDER"
    password = "DB_PASS_PLACEHOLDER"
    radius_db = "DB_NAME_PLACEHOLDER"

    read_groups = no
    read_clients = yes
    client_table = "nas"

    num_sql_socks = 5

    authcheck_table = "radcheck"
    authreply_table = "radreply"
    groupcheck_table = "radgroupcheck"
    groupreply_table = "radgroupreply"
    usergroup_table = "radusergroup"
    acct_table1 = "radacct"
    acct_table2 = "radacct"
    postauth_table = "radpostauth"

    sql_user_name = "%{User-Name}"

    authorize_check_query = "SELECT id, username, attribute, value, op FROM radcheck WHERE username = \"%{SQL-User-Name}\" ORDER BY id"
    authorize_reply_query = "SELECT id, username, attribute, value, op FROM radreply WHERE username = \"%{SQL-User-Name}\" ORDER BY id"

    delete_stale_sessions = yes
}
